[submodule "plugins/codemirror-editor"]
	path = plugins/codemirror-editor
	url = https://gerrit.googlesource.com/plugins/codemirror-editor

[submodule "plugins/commit-message-length-validator"]
	path = plugins/commit-message-length-validator
	url = https://gerrit.googlesource.com/plugins/commit-message-length-validator

[submodule "plugins/download-commands"]
	path = plugins/download-commands
	url = https://gerrit.googlesource.com/plugins/download-commands
	branch = stable-2.16

[submodule "plugins/hooks"]
	path = plugins/hooks
	url = https://gerrit.googlesource.com/plugins/hooks
	branch = stable-2.16

[submodule "plugins/replication"]
    path = plugins/replication
	url = https://gerrit.googlesource.com/plugins/replication
    branch = stable-2.16

[submodule "plugins/reviewnotes"]
	path = plugins/reviewnotes
	url = https://gerrit.googlesource.com/plugins/reviewnotes
	branch = stable-2.16

[submodule "plugins/singleusergroup"]
	path = plugins/singleusergroup
	url = https://gerrit.googlesource.com/plugins/singleusergroup
	branch = stable-2.16

[submodule "plugins/lfs"]
	path = plugins/lfs
	url = ../gerrit-lfs-plugin
	branch = .

[submodule "plugins/delete-project"]
	path = plugins/delete-project
	url = ../gerrit-delete-project-plugin
    branch = .
